NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GOOGLE_CLIENT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

MONGO_URL=mongodb://localhost/founds


NEXT_PUBLIC_PAYSTACT_SECRET_KEY=sk_test_3cf087ccxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_PAYSTACT_PUBLIC_KEY=pk_test_00cf22dbdc0bxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
